<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/d85c1eb16f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Error.css">
</head>

<body class="error-page">

    <div class="main-wrapper">
        <div class="error-box">
            <h1>Error</h1>
            <h3 class="h2 ">Can not Delete</h3>
            <p class="h4 font-weight-normal"><i class="fa-solid fa-triangle-exclamation" style="color: #0041b3;"></i> Please check again</p>
            <a href="/DashBoard/AdminDashBoard" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
</body>

</html>