<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Home.css">
    <link rel="stylesheet" href="~/css/Detail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/d85c1eb16f.js" crossorigin="anonymous"></script>
    <title>Select Shuttle Service</title>
</head>
<body>
    <div id="wrapper" class="big">
        <div id="extra-bar">
            <nav id="slide-bar">
                <span></span>
                <!-- <span class="address"><i class="fa-solid fa-location-dot"></i> ABC đường 123 phố XYZ thành phố HCM</span> -->
                <ul id="login-bar">
                    <li><a href=""><i class="bi bi-telephone"></i> 0909123456</a></li>
                    <li><a href=""><i class="fa-regular fa-envelope"></i> sgp@gmail.esport.com</a></li>
                    <li><a href=""><i class="fa-solid fa-user"></i> Sign in</a></li>
                    <li><a href="">Sign up</a></li>
                </ul>
            </nav>
        </div>
        <div id="header">
            <nav class="container1">
                <a href="/Home/Index" id="logo">
                    <div id="cover">
                        <img src="~/Image/imageedit_2_3728063069.png" alt="logo.vn">
                    </div>
                </a>
                <ul id="main-menu">
                    <li><a href="/Home/Index"><i class="bi bi-house"></i> Home</a></li>
                    <li><a href="/Home/AboutUs"><i class="fa-regular fa-circle-question"></i> About us</a></li>
                    <li><a href="#room"><i class="fa-solid fa-sitemap"></i> Rooms <span class="spaceicon"><i class="bi bi-chevron-down"></i></span></a>
                        <ul class="sub-menu">
                            <li><a href="/Home/Standard">Standard room</a></li>
                            <li><a href="/Home/Superior">Superior room</a></li>
                            <li><a href="/Home/Deluxe">Deluxe room</a></li>
                            <li><a href="/Home/Suite">Suite room</a></li>
                        </ul>
                    </li>
                    <li><a href="#service"><i class="fa-solid fa-bell-concierge"></i> Service <span class="spaceicon"><i class="bi bi-chevron-down"></i></span></a>
                        <ul class="sub-menu">
                            <li><a href="#restaurant">Restaurant <span class="space"><i class="fa-solid fa-chevron-right"></i></span></a>
                                <ul class="sub-menu">
                                    <li><a href="/Home/Restaurant1">Reflection Restaurant</a></li>
                                    <li><a href="/Home/Restaurant3">Cafe de l’Opera</a></li>
                                    <li><a href="/Home/Restaurant2">Buffet Nineteen Restaurant</a></li>
                                    <li><a href="/Home/Restaurant4">Tapas Kitchen</a></li>
                                </ul>
                            </li>
                            <li><a href="/Home/Bar">Bar</a></li>
                            <li><a href="/Home/Gym">Gym</a></li>
                            <li><a href="/Home/Spa">Spa</a></li>
                            <li><a href="/Home/Beach">Beach</a></li>
                            <li><a href="">Offer</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home/Gallery"><i class="fa-solid fa-images"></i> Gallery</a></li>
                    <li><a href=""><i class="fa-regular fa-calendar"></i> Event <i class="bi bi-chevron-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="/Home/Wedding">Wedding</a></li>
                            <li><a href="/Home/Meeting">Meeting</a></li>
                            <li><a href="/Home/Corporate">Corporate events</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href=""></a></li> -->
                </ul>
            </nav>
            <a href="" id="booking">booking</a>
        </div>
        <div class="plan">
            <div class="plan-content">
                <div class="plan-text color-active1">Select Room & Rate</div>
                <div class="plan-box color-active"></div>
                <div class="plan-box1 color-active">1</div>
            </div>
            <div class="plan-content">
                <div class="plan-text color-active1">Select Date</div>
                <div class="plan-box color-active"></div>
                <div class="plan-box1 color-active">2</div>
            </div>
            <div class="plan-content">
                <div class="plan-text color-active1">Select Service</div>
                <div class="plan-box color-active"></div>
                <div class="plan-box1 color-active">3</div>
            </div>
            <div class="plan-content">
                <div class="plan-text color-active1">Select Shuttle Service</div>
                <div class="plan-box color-active"></div>
                <div class="plan-box1 color-active">4</div>
            </div>
            <div class="plan-content">
                <div class="plan-text color-none1">Guest Information</div>
                <div class="plan-box color-none"></div>
                <div class="plan-box1 color-none">5</div>
            </div>
        </div>
        <div class="main-option">
            <div class="rate-cover">
                <h3>Shuttle Service package 1</h3>
                <div class="rate-option">
                    <div class="img-rate">
                        <div class="rimg1"></div>
                    </div>
                    <div class="rate-option1">
                        <div class="bg-img">
                            <h3>1 WAY AIRPORT TRANSFER</h3>
                        </div>
                        <div class="bg-note">
                            <span class="note">Kick-off your experience at Caravelle Saigon with a 
                                luxurious arrival to the hotel in a Mercedes E-Class.</span>
                        </div>
                        <ul>
                            <li>Pick-up in Mercedes E-Class from Airport to Hotel.</li>
                            <li>Flight details to be provided latest by 04 hours prior to arrival.</li>
                            <li>Cancelation of transportation booked through the hotel 24 hours prior to arrival OR
                                 No Show for this service, will incur charging of full amount of the transportation service.</li>
                        </ul>
                    </div>
                    <div class="rate-option2">
                        <span class="rate-price">110,00 $</span>
                        <button>Add to list</button>
                    </div>
                </div>
                <h3>Shuttle Service package 2</h3>
                <div class="rate-option">
                    <div class="img-rate">
                        <div class="rimg1"></div>
                    </div>
                    <div class="rate-option1">
                        <div class="bg-img">
                            <h3>2 WAY AIRPORT TRANSFER</h3>
                        </div>
                        <div class="bg-note">
                            <span class="note">Complete your experience at Caravelle Saigon with a 
                                luxurious arrival to the hotel and return to the airport after departure in a Mercedes E-Class.</span>
                        </div>
                        <ul>
                            <li>Pick-up and drop in Mercedes E-Class from Airport to Hotel.</li>
                            <li>Arrival and Departure Flight details to be provided latest by 04 hours prior to arrival.</li>
                            <li>Cancelation of transportation booked through the hotel 24 hours prior to arrival OR No Show 
                                for this service, will incur charging of full amount of the transportation service.</li>
                        </ul>
                    </div>
                    <div class="rate-option2">
                        <span class="rate-price">150,00 $</span>
                        <button>Add to list</button>
                    </div>
                </div>
                <h3>Shuttle Service package 3</h3>
                <div class="rate-option">
                    <div class="img-rate">
                        <div class="rimg2"></div>
                    </div>
                    <div class="rate-option1">
                        <div class="bg-img">
                            <h3>Shuttle's car rental 1</h3>
                        </div>
                        <div class="bg-note">
                            <span class="note">Complete your experience at Ocean Hotel with a 
                                luxurious travel to visit famous place.</span>
                        </div>
                        <ul>
                            <li>Rent car for travel near Hotel</li>
                            <li>Must return by 9:pm</li>
                        </ul>
                    </div>
                    <div class="rate-option2">
                        <span class="rate-price">55,00 $</span>
                        <span class="rate-note">Per night</span>
                        <button>Add to list</button>
                    </div>
                </div>
                <h3>Shuttle Service package 4</h3>
                <div class="rate-option">
                    <div class="img-rate">
                        <div class="rimg2"></div>
                    </div>
                    <div class="rate-option1">
                        <div class="bg-img">
                            <h3>Shuttle's car rental 2</h3>
                        </div>
                        <div class="bg-note">
                            <span class="note">Complete your experience at Ocean Hotel with a 
                                luxurious travel to visit famous place and enjoy the atmostphere.</span>
                        </div>
                        <ul>
                            <li>Rent car for travel near Hotel</li>
                            <li>Have your own driver</li>
                            <li>There are people to drop off and pick up</li>
                        </ul>
                    </div>
                    <div class="rate-option2">
                        <span class="rate-price">80,00 $</span>
                        <span class="rate-note">Per night</span>
                        <button>Add to list</button>
                    </div>
                </div>
                <div class="box-button">
                    <button>Continue</button>
                </div>
            </div>
            <div class="table-cover">
                <div class="table-info">
                    <div class="rimg4"></div>
                    <h3>Your booking room information</h3>
                    <div class="note-info">
                        <span>Check in</span>
                        <span>After 14:00pm</span>
                    </div>
                    <div class="note-info">
                        <span>Check out</span>
                        <span>Before 12:00pm</span>
                    </div>
                    <hr>
                    <div class="customer-info">
                        <span>October 21, 2023 - October 25, 2023</span>
                        <span>1 Adult</span>
                        <span>0 Child</span>
                    </div>
                    <div class="note-info">
                        <span>Deluxe Twin + Daily rate</span>
                        <span>165,00$</span>
                    </div>
                    <hr>
                    <div class="edit">
                        <a href=""><i class="fa-solid fa-pen"></i> Change</a>
                        <a href=""><i class="fa-solid fa-trash"></i> Delete</a>
                        <a href=""><i class="fa-solid fa-circle-plus"></i> Add</a>
                    </div>
                    <hr>
                    <div class="total">
                        <span>Total</span>
                        <span>165,00$</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row-footer">
            <div class="boxfooter">
                <div class="subboxfooter1">
                    <h4 class="colorw footer-bbt">Contact</h4>
                    <div class="footer-add colorw mgbt10"><a href="" class="footer-detail colorw hover-footer"><i class="fa-brands fa-facebook"></i> Facebook</a></div>
                    <div class="footer-add colorw mgbt10"><a href="" class="footer-detail colorw hover-footer"><i class="fa-regular fa-envelope "></i> luxury@gm.sgp.vn</a></div>
                    <div class="footer-add colorw mgbt10"><a href="" class="footer-detail colorw hover-footer"><i class="fa-brands fa-instagram"></i> Instagram</a></div>
                    <div class="footer-add colorw mgbt10"><a href="" class="footer-detail colorw hover-footer"><i class="fa-brands fa-youtube"></i> Youtube</a></div>
                    <div class="footer-add colorw mgbt10"><a href="" class="footer-detail colorw hover-footer"><i class="fa-brands fa-tiktok"></i> Tiktok</a></div>
                    <div class="footer-add colorw mgbt10 hover-footer"><i class="fa-solid fa-phone"></i> 0909123456</div>
                </div>
                <div class="subboxfooter2">
                    <h4 class="colorw footer-bbt">Policy</h4>
                    <div class="footer-add mgbt10"><a href="" class="footer-detail colorw hover-footer">Chính sách bảo mật</a></div>
                    <div class="footer-add mgbt10"><a href="" class="footer-detail colorw hover-footer">Chính sách an toàn</a></div>
                    <div class="footer-add mgbt10"><a href="" class="footer-detail colorw hover-footer">Chính sách trẻ em</a></div>
                    <div class="footer-add mgbt10"><a href="" class="footer-detail colorw hover-footer">Chính sách dịch vụ</a></div>
                </div>
                <div class="subboxfooter3">
                    <h4 class="colorw footer-bbt">Address</h4>
                    <div class="footer-add colorw mgbt10"><i class="fa-solid fa-location-dot"></i> 221B Baker Street, London city</div>
                    <div class="footer-add colorw mgbt10"><i class="fa-solid fa-location-dot"></i> 221B Baker Street, London city</div>
                    <div class="footer-add colorw mgbt10"><i class="fa-solid fa-location-dot"></i> 221B Baker Street, London city</div>
                    <div class="footer-add colorw mgbt10"><i class="fa-solid fa-location-dot"></i> 221B Baker Street, London city</div>
                    <div class="footer-add colorw mgbt10"><i class="fa-solid fa-location-dot"></i> 221B Baker Street, London city</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row-footer textcenter colorw">
            Coppy@right
        </div>
      </footer>
      <script src="~/js/StickyHeader.js"></script>
</body>
</html>