:root{
    --white-cl:aliceblue;
    --lightwhite-cl:rgba(255, 255, 255, 0.6);
    --lightwhite-cl-ss:rgba(230, 238, 240, 0.3);
    --dark-cl:rgba(60, 59, 59, 0.7);
    --lightdark-cl:rgba(60, 59, 59, 0.7);
    --gray-cl:rgb(79, 90, 94);
    --deepblue-cl:rgba(14, 90, 167, 0.6);
    --black-cl:black;
    --bg-white:rgba(10,60,122,0.7);
    --bg-white1:rgba(37, 109, 198, 0.4);
}
html{
    scroll-snap-type: y mandatory;
}
body{
    margin:0 0;
    /* background-image: url(./Image/BackgroundImg/BackGroundImage/cbc59e81176141.5cf75b90de674-removebg-preview.png); */
    background-image: url(../Image/whale-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box-event{
    padding:10px 10px;
    background-color: var(--white-cl);
    box-shadow: inset 0px 0px 5px 2px var(--dark-cl);
    margin-left:15%;
    margin-right: 15%;
    margin-top: 50px;
    border-radius: 50px;
    height:550px;
    position: relative;
}
.section-class{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    height: 100vh;
}
section{
    scroll-snap-align: start;
}
.section-1{
    background-image: url(../Image/whale-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section-2{
    background-image: url(../Image/eecc94cf96c1c5c31dbbaa11b8bc9318_upscayl_4x_realesrgan-x4plus.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#header, #extra-bar{
    scroll-snap-align: start;
}
.background-event{
    border-radius: 50px;
    padding: 40px 40px;
    background-image: url(../Image/BackgroundImg/BackGroundImage/cbc59e81176141.5cf75b90de674-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
    position: relative;
}
.background-event::before{
    position: absolute;
    content: "";
    clip-path: polygon(0% 0%, 25% 1%, 100% 50%, 25% 100%, 0% 100%);
    background-color:var(--lightwhite-cl) ;
	height: 450px;
	width: 50px;
    top:50%;
    left:99.5%;
    transform: translate(0,-50%);
    box-shadow: inset 0px 0px 5px 2px var(--lightdark-cl);
}
.background-event::after{
    position: absolute;
    content: "";
    clip-path: polygon(75% 0, 100% 0%, 100% 100%, 75% 100%, 0% 50%);
    background-color: var(--lightwhite-cl);
	height: 450px;
	width: 50px;
    top:50%;
    left:-4.7%;
    transform: translate(0,-50%);
    box-shadow: inset 0px 0px 5px 2px var(--lightdark-cl);
}
.event-content{
    display: flex;
    /* background: var(--lightwhite-cl-ss); */
    background: var(--bg-white);
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 0px 5px 2px var(--lightwhite-cl);
    border-radius: 50px;
    height: 470px;
}
.event-content-ex{
    display: flex;
    /* background: var(--lightwhite-cl-ss); */
    background: var(--bg-white);
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 0px 5px 2px var(--lightwhite-cl);
    border-radius: 50px;
    height: 470px;
    flex-direction: column;
    position: relative;
}
.event-content1> .event-content1-img img{
    width:400px;
    height: 400px;
    z-index: 100;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.event-content1> .event-content1-img img:hover{
    transform: scale(1.2);
}
.event-content1{
    width:500px;
    padding:10px 40px;
    border-radius: 50px;
    position: relative;
    margin:auto 0;
    display: flex;
    justify-content: center;
}
.event-content1> .event-content1-img{
    width:350px;
    height: 350px;
    overflow: hidden;
    display: flex;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 1px var(--black-cl);
}
.event-content2{
    padding: 20px 50px;
    /* background: var(--lightwhite-cl-ss); */
    background: var(--bg-white1);
    border-radius: 50px;
    width:500px;
}
.event-content2>h3{
    text-align: center;
    font-size: 30px;
    color:var(--white-cl);
}
.event-content2>p{
    font-size: 22px;
    padding: 5px 5px;
    color:var(--white-cl);
}
.event-content-ex>p{
    font-size: 22px;
    padding: 0px 35px;
    text-align: center;
    color:var(--white-cl);
    z-index: 10;
}
.event-content-ex>h3{
    text-align: center;
    font-size: 30px;
    color:var(--white-cl);
    z-index: 10;
}
.item-img1{
    background-image: url(../Image/Anchor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    position: absolute;
    left:83%;
    top:65%;
    z-index: 100;
    transform: rotate(10deg);
}
.item-img2{
    background-image: url(../Image/24d8c6fa185e1205e1b8ce6f75f458cb-removebg-preview_upscayl_4x_realesrgan-x4plus\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px;
    height: 190px;
    position: absolute;
    left:-4%;
    top:-5%;
    z-index: 100;
    transform: rotate(-40deg);
}
.box-img3{
    position: relative;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top:60px;
  }
.bg-img3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-100px ;
    height: 720px;
    width:100%;
    position: absolute;
    top:-120px;
}
.box-text-img{
    position: absolute;
    background: var(--deepblue-cl);
    color:var(--white-cl);
    width:45%;
    height: 45%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    border-radius: 10px;
    padding:20px;
    box-shadow: 0px 0px 10px 1px var(--gray-cl);
  }
  .hr2{
    width: 30%;
    height: 2px;
    background-color: var(--white-cl);
    border: none;
  }
  .rimg5{
    /* background-image: url(../Image/pngtree-whale-constellation-watercolor-blue-png-image_6681414-removebg-preview.png); */
    background-image: url(../Image/Picture1-removebg-preview_upscayl_4x_realesrgan-x4plus\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 400px;
    top:20%;
    left:5%;
    transform: rotate(10deg);
    position: absolute;
    filter: saturate(2);
    z-index: 1;
  }
